.ig-breadcrumb {
  // background-color: $pf-color-white;
  // background-image: url('../img/landing-page-bck-img.jpg');
  // filter: url('../img/background-filter.svg#image_overlay');
  background-color: $pf-color-white;
  li {
    color: var(--pf-global--Color--100);
    a {
      color: var(--pf-global--link--Color) !important; /* stylelint-disable-line declaration-no-important */
      text-decoration: var(--pf-global--link--TextDecoration);
    }
    .ig-breadcrumb-current {
      color: var(--pf-global--Color--100) !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}
