.integr8ly-container {
  background-color: #eee;
}
.integr8ly-module {
  // display: grid;
  // height: calc(100vh - 120px);
  // background-color: #fff;
  // > div {
  //   min-height: 10vh;
  //   max-height: 80vh;
  //   overflow: hidden;
  // }
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  &-column {
    &--status {
      background-color: #fafafa;
      border-bottom: 1px solid #d1d1d1;
      margin: 0 -20px;
      padding: 1px 20px;
    }
    &--steps {
      margin-right: -20px;
      margin-left: -20px;
      padding: 15px 20px 25px;
      background-color: #fff;
    }
    &--footer {
      background-color: #fafafa;
      margin: 0 -20px;
      padding: 10px 20px 20px;
    }
  }
}
.integr8ly-frame {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.integr8ly-prerequisites {
  position: absolute;
  top: 96px;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  // height: 100%;
}
.integr8ly-steel-thread-rows {
  // background-color: #fff;
  margin-top: -10em;
  margin-left: 100px;
  position: absolute;
  z-index: 5;
}
.integr8ly-list-group--application-list {
  margin-top: 20px;
}
.integr8ly-masthead {
  background-color: #aaa;
  color: #fff;
  height: 35vh;
}
.integr8ly-container-cards-pf {
  margin-top: 0;
}
.integr8ly-card-pf {
  background-color: transparent;
}
