.integr8ly-container {
  background-color: #eee;
}
.integr8ly-module {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  &-column {
    &--status {
      background-color: #fafafa;
      border-bottom: 1px solid #d1d1d1;
      margin: 0 -20px;
      padding: 1px 20px;
    }
    &--steps {
      margin-right: -20px;
      margin-left: -20px;
      padding: 15px 20px 25px;
      background-color: #fff;
    }
    &--footer {
      background-color: #fafafa;
      border-top: 1px solid #d1d1d1;
      margin: 0 -20px;
      padding: 10px 20px 20px;
    }
  }
}
.integr8ly-frame {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.integr8ly-prerequisites {
  position: absolute;
  top: 96px;
  right: 0;
  bottom: 0;
  background-color: #ddd;
}
.integr8ly-steel-thread-rows {
  margin-top: -10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.integr8ly-list-group--application-list {
  margin-top: 20px;
}
.integr8ly-masthead {
  background-color: #aaa;
  color: #fff;
  height: 450px;
}
.integr8ly-container-cards-pf {
  margin-top: 0;
}
.integr8ly-card-pf {
  background-color: transparent;
}
.module-list {
  padding-left: 15px;
}
