.integr8ly {
  &-header {
    // background-color: $pf-color-white;
    // background-image: url('../css/assets/images/landing-page-bck-img.jpg');
    // background-size: cover;
    // background-position: top left;

    h1,
    p {
      color: $pf-color-white;
    }
  }
  &-module {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    &-column {
      &--status {
        background-color: $pf-color-black-100;
        border-bottom: 1px solid;
        border-bottom-color: $pf-color-black-300;
        margin: 0 -20px;
        padding: 1px 20px;
      }

      &--steps {
        margin-right: -20px;
        margin-left: -20px;
        padding: 15px 20px 25px;
        background-color: $pf-color-white;
      }

      &--footer {
        background-color: $pf-color-black-100;
        border-top: 1px solid;
        border-top-color: $pf-color-black-300;
        margin: 0 -20px;
        padding: 10px 20px 20px;
      }
    }
  }

  &-frame {
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: $pf-color-black-200;
  }

  &-prerequisites {
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 0;
    background-color: $pf-color-black-150;
    border-left: 1px solid;
    border-left-color: $pf-color-black-300;
  }

  &-steel-thread-rows {
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-list-group--application-list {
    margin-top: 20px;
  }

  &-masthead {
    background-color: $pf-color-black-500;
    color: $pf-color-white;
    height: 325px;
  }

  &-container-cards-pf {
    margin-top: 0;
  }
}

.module-list {
  padding-left: 15px;
}
