.pf-c-background-image {
  --pf-c-background-image--backgroundimage--xs: url('../css/assets/images/building_worm_576.jpeg');
  --pf-c-background-image--backgroundimage--xs-2x: url('../css/assets/images/building_worm_576.jpeg');
  --pf-c-background-image--backgroundimage--sm: url('../css/assets/images/building_worm_768.jpeg');
  --pf-c-background-image--backgroundimage--sm-2x: url('../css/assets/images/building_worm_768.jpeg');
  --pf-c-background-image--backgroundimage--md: url('../css/assets/images/building_worm_992.jpeg');
  --pf-c-background-image--backgroundimage--md-2x: url('../css/assets/images/building_worm_992.jpeg');
  --pf-c-background-image--backgroundimage--lg: url('../css/assets/images/building_worm_1200.jpeg');
  --pf-c-background-image--backgroundimage--xl: url('../css/assets/images/building_worm_2000.jpeg');
  // --pf-c-background-image--backgroundimage--xs: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--xs-2x: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--sm: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--sm-2x: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--md: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--md-2x: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--lg: url('../css/assets/images/landing-page-bck-img.jpg');
  // --pf-c-background-image--backgroundimage--xl: url('../css/assets/images/landing-page-bck-img.jpg');
  --pf-c-background-image--filter: url('../css/assets/images/background-filter.svg#image_overlay');
  &::before {
    background-image: var(--pf-c-background-image--backgroundimage--xs);
    background-image: var(--pf-c-background-image--backgroundimage--xs-2x);
    background-image: var(--pf-c-background-image--backgroundimage--sm);
    background-image: var(--pf-c-background-image--backgroundimage--sm-2x);
    background-image: var(--pf-c-background-image--backgroundimage--md);
    background-image: var(--pf-c-background-image--backgroundimage--md-2x);
    background-image: var(--pf-c-background-image--backgroundimage--lg);
    background-image: var(--pf-c-background-image--backgroundimage--xl);
  }
}
.pf-c-data-list__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-right: 32px;
  padding-left: 32px;
}
.pf-c-data-list__cell {
  flex: 1;
  padding-top: 32px;
  padding-bottom: 32px;
}
.pf-c-data-list__cell+.pf-c-data-list__cell {
  flex: 1;
  order: 0;
  padding-top: 32px;
  margin-left: 32px;
}
.pf-c-data-list__item+.pf-c-data-list__item {
  border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--Color--light-200);
}
.pf-c-data-list {
  --pf-c-data-list--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-data-list__item--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--MarginLeft: var(--pf-global--spacer--xl);
  --pf-c-data-list__item--BorderColor: var(--pf-global--Color--light-200);
  --pf-c-data-list__item--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-data-list__toggle--MarginRight: var(--pf-global--spacer--md);
  --pf-c-data-list__toggle--MarginLeft: calc(var(--pf-global--spacer--sm) * -1);
  --pf-c-data-list__toggle--Transition: var(--pf-global--Transition);
  --pf-c-data-list__check--MarginRight: var(--pf-global--spacer--xl);
  --pf-c-data-list__action--MarginLeft: var(--pf-global--spacer--lg);
  --pf-c-data-list__item--before--BackgroundColor: transparent;
  --pf-c-data-list__item--before--Width: var(--pf-global--BorderWidth--lg);
  --pf-c-data-list__item--before--Transition: var(--pf-global--Transition);
  --pf-c-data-list__item--before--ZIndex: var(--pf-global--ZIndex--xl);
  list-style-type: disc;
  background-color: var(--pf-c-data-list--BackgroundColor);
}
.pf-c-card.integr8ly-c-card {
  min-height: 365px;
}
