//
// add @imports here
// do not add CSS directly to this file
//

@import 'fonts';
@import 'typography';

@import 'layout';

@import 'lists';
@import 'breadcrumbs';

@import 'overrides';

.circle-placeholder {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: #d8d8d8;
  margin: 0 auto;
}
