head
  meta(charset='utf-8')
  title Integreatly Prototype
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.54.1/css/rcue.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.54.1/css/rcue-additions.min.css')
  link(rel='stylesheet', href='css/site.min.css')
