li.applauncher-pf.dropdown
  button.btn.btn-link.dropdown-toggle.nav-item-iconic(data-toggle='dropdown' href='#')
    span.fa.fa-th.applauncher-pf-icon(aria-hidden='true')
    span.dropdown-title
      span.applauncher-pf-title
        | Application Launcher
        span.caret(aria-hidden='true')
  ul.dropdown-menu(role='menu')
    li.applauncher-pf-item(role='presentation')
      a.applauncher-pf-link(href='#' role='menuitem')
        span.applauncher-pf-link-title
        | Eclipse Che
    li.applauncher-pf-item(role='presentation')
      a.applauncher-pf-link(href='#' role='menuitem')
        span.applauncher-pf-link-title
        | enmasse
    li.applauncher-pf-item(role='presentation')
      a.applauncher-pf-link(href='#' role='menuitem')
        span.applauncher-pf-link-title
        | Fuse Online
    li.applauncher-pf-item(role='presentation')
      a.applauncher-pf-link(href='#' role='menuitem')
        span.applauncher-pf-link-title
        | Red Hat OpenShift Application Runtimes
