.cards-pf(style='background-color: transparent;')
  .container-fluid.container-cards-pf.integr8ly-container-cards-pf
    .row.row-cards-pf
      .col-xs-12.col-sm-3
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Build a REST-based integration
          .card-pf-body
            p In this walkthrough, you will lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row
              .col-xs-5
                p Roles
              .col-xs-7
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Operator
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Developer
          .card-pf-footer.integr8ly-card-pf-footer
            h4
              i.fa.fa-clock-o(style='margin-right: 5px;')
              span 20 mins.
              a(href='steel-thread-0.html').pull-right Get Started
      .col-xs-12.col-sm-3
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Develop an API from beginning to end
          .card-pf-body
            p In this walkthrough, you will lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row
              .col-xs-5
                p Roles
              .col-xs-7
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Operator
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Developer
          .card-pf-footer.integr8ly-card-pf-footer
            h4
              i.fa.fa-clock-o(style='margin-right: 5px;')
              span 20 mins.
              a(href='steel-thread-0.html').pull-right Get Started
      .col-xs-12.col-sm-3
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Create a greenfield-brownfield facade
          .card-pf-body
            p In this walkthrough, you will lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row
              .col-xs-5
                p Roles
              .col-xs-7
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Operator
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Developer
          .card-pf-footer.integr8ly-card-pf-footer
            h4
              i.fa.fa-clock-o(style='margin-right: 5px;')
              span 20 mins.
              a(href='steel-thread-0.html').pull-right Get Started
      .col-xs-12.col-sm-3
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Build a microservices API gateway
          .card-pf-body
            p In this walkthrough, you will lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row
              .col-xs-5
                p Roles
              .col-xs-7
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Operator
                p
                  i.pficon.pficon-user(style='margin-right: 5px;')
                  span Developer
          .card-pf-footer.integr8ly-card-pf-footer
            h4
              i.fa.fa-clock-o(style='margin-right: 5px;')
              span 20 mins.
              a(href='steel-thread-0.html').pull-right Get Started
