.cards-pf(style='background-color: transparent;')
  .container-fluid.container-cards-pf.integr8ly-container-cards-pf
    .row.row-cards-pf
      .col-xs-12.col-sm-4
        .card-pf.integr8ly-card-pf
          div(style='background-color: #d8d8d8; width: 100%; height: 200px;')
          h2.card-pf-title
            | Steel Thread 0
          .card-pf-body
            p This will be the description for Steel Thread 0.
          .card-pf-footer(style='background-color: #fff; border-top: none;')
            u
              a(href='#') Learn More
            a(href='steel-thread-0.html').pull-right Get Started
      .col-xs-12.col-sm-4
        .card-pf.integr8ly-card-pf
          div(style='background-color: #d8d8d8; width: 100%; height: 200px;')
          h2.card-pf-title
            | Steel Thread 1
          .card-pf-body
            p This will be the description for Steel Thread 1.
          .card-pf-footer(style='background-color: #fff; border-top: none;')
            u
              a(href='#') Learn More
            a(href='#').pull-right Get Started
      .col-xs-12.col-sm-4
        .card-pf.integr8ly-card-pf
          div(style='background-color: #d8d8d8; width: 100%; height: 200px;')
          h2.card-pf-title
            | Steel Thread 2
          .card-pf-body
            p This will be the description for Steel Thread 2.
          .card-pf-footer(style='background-color: #fff; border-top: none;')
            u
              a(href='#') Learn More
            a(href='#').pull-right Get Started
