.cards-pf(style='background-color: transparent;')
  .container-fluid.container-cards-pf.integr8ly-container-cards-pf
    .row.row-cards-pf
      .col-xs-12.col-sm-4
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Steel Thread 4
          .card-pf-body
            p This will be the description for Steel Thread 4.
          .card-pf-footer.integr8ly-card-pf-footer
            a(href='#') Learn More
            a(href='#').pull-right Get Started
      .col-xs-12.col-sm-4
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Steel Thread 5
          .card-pf-body
            p This will be the description for Steel Thread 5.
          .card-pf-footer.integr8ly-card-pf-footer
            a(href='#') Learn More
            a(href='#').pull-right Get Started
      .col-xs-12.col-sm-4
        .card-pf.integr8ly-card-pf
          div.integr8ly-card-pf-custom
          h2.card-pf-title
            | Steel Thread 6
          .card-pf-body
            p This will be the description for Steel Thread 6.
          .card-pf-footer.integr8ly-card-pf-footer
            a(href='#') Learn More
            a(href='#').pull-right Get Started
    p.text-right
      a(href='#') View More Steel Threads
