doctype html
html(lang='en')
  include includes/header.pug

  body.integr8ly-container
    include includes/navigation.pug
    section
      ol.breadcrumb(role='navigtion', aria-label='breadcrumbs')
        li
          a(href='index.html').active
            i.pficon.pficon-home.fa-lg
        li
          | Steel Thread 0
      .container-fluid
        .row
          .col-xs-12.col-sm-8
            h1 What will I accomplish?
              .small.text-info.pull-right
                i.fa.fa-clock-o(style='margin-right: 5px;')
                span 20 minutes
            p In this walkthrough, you will sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            a.btn.btn-primary(href='module1.html', role='button') Get Started
          .col-sm-4.integr8ly-prerequisites
            h3 Prerequisites
            ul(style='padding-left: 0;').list-unstyled
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span GitHub account
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span OpenShift Online account
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span Existing code to import
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span Something to prove
            h3 Roles
            ul(style='padding-left: 0;').list-unstyled
              li
                i.pficon.pficon-user(style='margin-right: 5px;')
                span Operator
              li
                i.pficon.pficon-user(style='margin-right: 5px;')
                span Developer
            h3 Installed applications used in this tutorial
            p
              span.badge Red Hat OpenShift Application Runtimes
              span.badge Eclipse Che
              span.badge Fuse Ignite
              span.badge EnMasse
        .row
          .col-xs-12.col-sm-8
            h1 Modules to complete
            .list-group.list-view-pf
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 1. Build your REST endpoint
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 6 minutes
                      .list-group-item-text
                        | Create an HTTP endpoint that will receive requests from a Fuse Ignite integration and add new fruits types to the inventory. You will also customise the endpoint using Eclipse Che.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 2. Create connections
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 4 minutes
                      .list-group-item-text
                        | Set up connections between your HTTP endpoint and your Enmasse messaging queue in Fuse Ignite.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 3. Set up messaging
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 5 minutes
                      .list-group-item-text
                        | Provision the EnMasse messaging service.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 4. Build integration
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 5 minutes
                      .list-group-item-text
                        | Invoke the integration to add a new fruit type to the inventory list.
    include includes/scripts.pug
