//
// Additional variables for font weights,
// transitions, and timings to match PatternFly 4
//

// Line height
$pf-global--LineHeight--sm: 1.3 !default;
$pf-global--LineHeight--md: 1.5 !default;

// Transitions
$pf-global--Transition: all 500ms cubic-bezier(.42, 0, .58, 1);
$pf-global--TimingFunction: cubic-bezier(.645, .045, .355, 1);

// Spacers
$pf-global--spacer--xs: pf-size-prem(4px) !default;
$pf-global--spacer--sm: pf-size-prem(8px) !default;
$pf-global--spacer--md: pf-size-prem(16px) !default;
$pf-global--spacer--lg: pf-size-prem(24px) !default;
$pf-global--spacer--xl: pf-size-prem(32px) !default;
$pf-global--spacer--2xl: pf-size-prem(48px) !default;
$pf-global--spacer--3xl: pf-size-prem(64px) !default;

// Font size
$font-size-base: 16px;

// PatternFly global size variables
$pf-global--FontSize--4xl: 36px;
$pf-global--FontSize--3xl: 28px;
$pf-global--FontSize--2xl: 24px;
$pf-global--FontSize--xl: 21px;
$pf-global--FontSize--lg: 18px;
$pf-global--FontSize--md: $font-size-base;
$pf-global--FontSize--sm: 14px;
$pf-global--FontSize--xs: 12px;

// Font size header specifics
$h1-font-size: $pf-global--FontSize--4xl !default;
$h2-font-size: $pf-global--FontSize--3xl !default;
$h3-font-size: $pf-global--FontSize--2xl !default;
$h4-font-size: $pf-global--FontSize--xl !default;
$h5-font-size: $pf-global--FontSize--lg !default;
$h6-font-size: $pf-global--FontSize--sm !default;

// Font weight
$pf-global--FontWeight--light: 300 !default;
$pf-global--FontWeight--normal: 400 !default;
$pf-global--FontWeight--semi-bold: 500 !default;
$pf-global--FontWeight--bold: 600 !default;

// Font weight generalizations
$font-weight-light: $pf-global--FontWeight--light !default;
$font-weight-normal: $pf-global--FontWeight--normal !default;
$font-weight-bold: $pf-global--FontWeight--bold !default;

// Line height
$pf-global--LineHeight--sm: 1.3 !default;
$pf-global--LineHeight--md: 1.5 !default;

// Line height generalizations
$line-height-base: $pf-global--LineHeight--md !default;
$line-height-base: $pf-global--LineHeight--md !default;

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

// Body / Paragraph styling
body {
  font-size: $pf-global--FontSize--md;
  font-size: $pf-global--FontSize--md;
  font-weight: $pf-global--FontWeight--normal;
  line-height: $pf-global--LineHeight--md;
}

p {
  font-size: $pf-global--FontSize--md;
}

// Header styling
h1,
.integr8ly-h1 {
  font-size: $h1-font-size;
}

h2,
.integr8ly-h2 {
  font-size: $h2-font-size;
}

h3,
.integr8ly-h3 {
  font-size: $h3-font-size;
}

h4,
.integr8ly-h4 {
  font-size: $h4-font-size;
}

h5,
.integr8ly-h5 {
  font-size: $h5-font-size;
}

h6,
.integr8ly-h6 {
  font-size: $h6-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
.integr8ly-h1,
.integr8ly-h2,
.integr8ly-h3,
.integr8ly-h4,
.integr8ly-h5,
.integr8ly-h6 {
  font-weight: $pf-global--FontWeight--semi-bold;
}

h1,
h2,
h3 {
  .integr8ly-small,
  small {
    font-weight: $pf-global--FontWeight--normal;
    font-size: 65%;
  }
}

h4,
h5,
h6 {
  .integr8ly-small,
  small {
    font-weight: $pf-global--FontWeight--normal;
    font-size: 75%;
  }
}

h1,
h2,
h3,
.integr8ly-h1,
.integr8ly-h2,
.integr8ly-h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6,
.integr8ly-h4,
.integr8ly-h5,
.integr8ly-h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

small,
.integr8ly-small {
  font-size: 91%;
}

// List styling
ul,
ol {
  padding-left: 20px;
}

// Button / Form styling
/* stylelint-disable selector-class-pattern */
/* allows the override of default PF3/Bootstrap 3 styles */
.btn,
.form-control {
  font-size: $pf-global--FontSize--md;
}

.form-control {
  height: 32px; // accounts for increase in base font size from 12px to 16px
}
/* stylelint-enable */

.integr8ly-docs-header {
  h5 {
    font-size: $h3-font-size;
    font-weight: $pf-global--FontWeight--semi-bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .olist { /* stylelint-disable-line selector-class-pattern */
    font-size: $pf-global--FontSize--md;
    font-weight: $pf-global--FontWeight--normal;
  }
}

.pf-c-content {
  // Body
  --pf-c-content--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-content--FontSize: var(--pf-global--FontSize--md);
  --pf-c-content--FontWeight: var(--pf-global--FontWeight--normal);

  // h1 - Main title
  --pf-c-content--h1--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-content--h1--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--h1--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-content--h1--FontSize: var(--pf-global--FontSize--3xl);
  --pf-c-content--h1--FontWeight: var(--pf-global--FontWeight--normal);

  // h2 - Secondary title
  --pf-c-content--h2--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-content--h2--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--h2--LineHeight: var(--pf-global--LineHeight--sm);
  --pf-c-content--h2--FontSize: var(--pf-global--FontSize--2xl);
  --pf-c-content--h2--FontWeight: var(--pf-global--FontWeight--normal);

  // h3 - Sub-title
  --pf-c-content--h3--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-content--h3--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--h3--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-content--h3--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-content--h3--FontWeight: var(--pf-global--FontWeight--normal);

  // h4
  --pf-c-content--h4--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-content--h4--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--h4--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-content--h4--FontSize: var(--pf-global--FontSize--lg);
  --pf-c-content--h4--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // h5
  --pf-c-content--h5--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-content--h5--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--h5--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-content--h5--FontSize: var(--pf-global--FontSize--md);
  --pf-c-content--h5--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // h6
  --pf-c-content--h6--MarginTop: var(--pf-global--spacer--lg);
  --pf-c-content--h6--MarginBottom: var(--pf-global--spacer--xs);
  --pf-c-content--h6--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-content--h6--FontSize: var(--pf-global--FontSize--md);
  --pf-c-content--h6--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // Small text
  --pf-c-content--small--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--small--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-content--small--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-content--small--Color: var(--pf-global--Color--200);
  --pf-c-content--small--FontWeight: var(--pf-global--FontWeight--semi-bold);

  // Links
  --pf-c-content--a--Color: var(--pf-global--link--Color);
  --pf-c-content--a--TextDecoration: var(--pf-global--link--TextDecoration);
  --pf-c-content--a--hover--Color: var(--pf-global--link--Color--hover);
  --pf-c-content--a--hover--TextDecoration: var(--pf-global--link--TextDecoration--hover);

  // Blockquote
  --pf-c-content--blockquote--Padding: var(--pf-global--spacer--md);
  --pf-c-content--blockquote--FontWeight: var(--pf-global--FontWeight--light);
  --pf-c-content--blockquote--Color: var(--pf-global--Color--200);
  --pf-c-content--blockquote--BorderLeftColor: var(--pf-global--BorderColor--light);
  --pf-c-content--blockquote--BorderLeftWidth: var(--pf-global--BorderWidth--lg);

  // Lists
  --pf-c-content--ul--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-content--ol--MarginTop: var(--pf-global--spacer--md);
  --pf-c-content--ol--MarginLeft: var(--pf-global--spacer--lg);
  --pf-c-content--ul--MarginTop: var(--pf-global--spacer--md);
  --pf-c-content--ul--MarginLeft: var(--pf-global--spacer--lg);
  --pf-c-content--ul--nested--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-content--ul--nested--MarginLeft: var(--pf-global--spacer--sm);
  --pf-c-content--ul--ListStyle: var(--pf-global--ListStyle);
  --pf-c-content--li--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-content--dl--ColumnGap: var(--pf-global--spacer--2xl);
  --pf-c-content--dl--RowGap: var(--pf-global--spacer--md);
  --pf-c-content--dt--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-content--dt--MarginTop: var(--pf-global--spacer--md);

  font-size: var(--pf-c-content--FontSize);
  line-height: var(--pf-c-content--LineHeight);

  a {
    color: var(--pf-c-content--a--Color);
    text-decoration: var(--pf-c-content--a--TextDecoration);

    &:hover {
      color: var(--pf-c-content--a--hover--Color);
      text-decoration: var(--pf-c-content--a--hover--TextDecoration);
    }
  }

  li + li {
    margin-top: var(--pf-c-content--li--MarginTop);
  }

  p,
  dl,
  ol,
  ul,
  blockquote,
  small,
  pre,
  table {
    &:not(:last-child) {
      // This variable name doesn't reflect the selector, it's an excpection to the variable system.
      margin-bottom: var(--pf-c-content--MarginBottom);
    }
  }

  ol,
  ul {
    // This variable name doesn't reflect the selector, it's an excpection to the variable system.
    padding-left: var(--pf-c-content--ul--PaddingLeft);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    margin-bottom: var(--pf-c-content--h1--MarginBottom);
    font-size: var(--pf-c-content--h1--FontSize);
    font-weight: var(--pf-c-content--h1--FontWeight);
    line-height: var(--pf-c-content--h1--LineHeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--h1--MarginTop);
    }
  }

  h2 {
    margin-bottom: var(--pf-c-content--h2--MarginBottom);
    font-size: var(--pf-c-content--h2--FontSize);
    font-weight: var(--pf-c-content--h2--FontWeight);
    line-height: var(--pf-c-content--h2--LineHeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--h2--MarginTop);
    }
  }

  h3 {
    margin-bottom: var(--pf-c-content--h3--MarginBottom);
    font-size: var(--pf-c-content--h3--FontSize);
    font-weight: var(--pf-c-content--h3--FontWeight);
    line-height: var(--pf-c-content--h3--LineHeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--h3--MarginTop);
    }
  }

  h4 {
    margin-bottom: var(--pf-c-content--h4--MarginBottom);
    font-size: var(--pf-c-content--h4--FontSize);
    font-weight: var(--pf-c-content--h4--FontWeight);
    line-height: var(--pf-c-content--h4--LineHeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--h4--MarginTop);
    }
  }

  h5 {
    margin-bottom: var(--pf-c-content--h5--MarginBottom);
    font-size: var(--pf-c-content--h5--FontSize);
    font-weight: var(--pf-c-content--h5--FontWeight);
    line-height: var(--pf-c-content--h5--LineHeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--h5--MarginTop);
    }
  }

  h6 {
    margin-bottom: var(--pf-c-content--h6--MarginBottom);
    font-size: var(--pf-c-content--h6--FontSize);
    font-weight: var(--pf-c-content--h6--FontWeight);
    line-height: var(--pf-c-content--h6--LineHeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--h6--MarginTop);
    }
  }

  small {
    display: block;
    margin-bottom: var(--pf-c-content--small--MarginBottom);
    font-size: var(--pf-c-content--small--FontSize);
    line-height: var(--pf-c-content--small--LineHeight);
    color: var(--pf-c-content--small--Color);
  }

  blockquote {
    padding: var(--pf-c-content--blockquote--Padding);
    font-weight: var(--pf-c-content--blockquote--FontWeight);
    color: var(--pf-c-content--blockquote--Color);
    border-left: var(--pf-c-content--blockquote--BorderLeftWidth) solid var(--pf-c-content--blockquote--BorderLeftColor);
  }

  ol {
    margin-top: var(--pf-c-content--ol--MarginTop);
    margin-left: var(--pf-c-content--ol--MarginLeft);
  }

  ul {
    margin: 0;
    margin-top: var(--pf-c-content--ul--MarginTop);
    margin-left: var(--pf-c-content--ul--MarginLeft);
    list-style: var(--pf-c-content--ul--ListStyle);

    ul {
      margin-top: var(--pf-c-content--ul--nested--MarginTop);
      margin-left: var(--pf-c-content--ul--nested--MarginLeft);
    }
  }

  dl {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $pf-global--breakpoint--sm) {
      grid-template: auto / auto 1fr;
      grid-column-gap: var(--pf-c-content--dl--ColumnGap);
      grid-row-gap: var(--pf-c-content--dl--RowGap);
    }
  }

  dt {
    font-weight: var(--pf-c-content--dt--FontWeight);

    &:not(:first-child) {
      margin-top: var(--pf-c-content--dt--MarginTop);

      @media screen and (min-width: $pf-global--breakpoint--sm) {
        margin-top: 0;
      }
    }

    @media screen and (min-width: $pf-global--breakpoint--sm) {
      grid-column: 1;
    }
  }

  dd {
    @media screen and (min-width: $pf-global--breakpoint--sm) {
      grid-column: 2;
    }
  }

  .btn-primary {
    color: $pf-color-white;
  }
}
