doctype html
html(lang='en')
  include includes/header.pug

  body
    //- include includes/navigation.pug
    header.integr8ly-masthead
      .container-fluid
        .row
          .col-xs-12.col-sm-6
            h1 Welcome to the Red Hat evaluation environment.
            p The environment contains everything you need to explore common integration scenarios. Get started with an end-to-end tutorial or dig into any of the available application services on your own to create custom integrations. 
            p Everything you build will reside on the OpenShift cluster associated with this environment.
            ul
              li End-to-end integration tutorials
              li One-click access to Red Hat application services, all running on the same OpenShift cluster
            button.btn.btn-default See Application Services
    section.integr8ly-steel-thread-rows
      .container-fluid
        .row
          .col-xs-12
            h2.integr8ly-h2-white Tutorials
        include includes/steal-thread-row-1.pug
        include includes/steal-thread-row-2.pug
    section.integr8ly-applications-list
      .container-fluid
        .row
          .col-xs-12
            h1 Available application services
        .row
          .col-xs-12.col-sm-3
            .list-group.integr8ly-list-group--application-list
              a.list-group-item.active(href='#') Red Hat OpenShift Application Runtimes
              a.list-group-item(href='#') Fuse Online
              a.list-group-item(href='#') Eclipse Che
              a.list-group-item(href='#') enmasse
          .col-xs-12.col-sm-5
            img(src='img/openshift-logo.svg')
            h2 Red Hat OpenShift Application Runtimes
            p A collection of cloud-native runtimes for developing Java &trade; or JavaScript applications on OpenShift.
          .col-xs-12.col-sm-4
            h2 Tutorials that use OpenShift
            span.badge Build a REST based integration
            span.badge Steel Thread 1
            span.badge Steel Thread 2
        .row
          .col-xs-12
            p.text-right
              a(href='#') All Applications
      footer(style='min-height: 10vh;')
    include includes/scripts.pug
