doctype html
html(lang='en')
  include includes/header.pug

  body.integr8ly-container
    ol.breadcrumb(role='navigtion', aria-label='breadcrumbs')
      li
        a(href='index.html').active
          i.pficon.pficon-home.fa-lg
      li
        a(href='steel-thread-0.html') Build a REST-based integration
      li
        | Module 1 of 4
      li.applauncher-pf.dropdown.pull-right
        button.btn.btn-link.dropdown-toggle.nav-item-iconic(data-toggle='dropdown' href='#')
          span.fa.fa-th.applauncher-pf-icon(aria-hidden='true')
          span.dropdown-title
            span.applauncher-pf-title
              | Application Launcher
              span.caret(aria-hidden='true')
        ul.dropdown-menu(role='menu')
          li.applauncher-pf-item(role='presentation')
            a.applauncher-pf-link(href='#' role='menuitem')
              span.applauncher-pf-link-title
              | Eclipse Che
          li.applauncher-pf-item(role='presentation')
            a.applauncher-pf-link(href='#' role='menuitem')
              span.applauncher-pf-link-title
              | EnMasse
          li.applauncher-pf-item(role='presentation')
            a.applauncher-pf-link(href='#' role='menuitem')
              span.applauncher-pf-link-title
              | Fuse Online
          li.applauncher-pf-item(role='presentation')
            a.applauncher-pf-link(href='#' role='menuitem')
              span.applauncher-pf-link-title
              | Red Hat OpenShift Application Runtimes
    section
      .container-fluid
        .row
          .col-sm-3.integr8ly-module
            .integr8ly-module-column
              .integr8ly-module-column--status
                h4 Build your REST endpoint
                .progress.progress-sm
                  .progress-bar(style='width: 0%;', role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', data-toggle='tooltip', data-placement='right', title='0%')
              .integr8ly-module-column--steps
                h4 Prerequisites
                .row
                  .col-xs-12.col-sm-6
                    ul
                      li GitHub account
                      li OpenShift Online account
                  .col-xs-12.col-sm-6
                    ul
                      li Existing code to import
                      li Something to prove
                h3 Create your REST endpoint using Red Hat OpenShift Application Runtimes
                ol.module-list
                  li Open the <a href='#'>Application link</a> <i>(this will open in the right panel)</i>.
                  li To open the application launcher console, click <b>Launch Your Project</b>.
                  li From the <b>Create application</b> screen, add a name for your REST endpoint application and click <b>Continue</b>.
                  li From the <b>Target Environment</b> screen, select <b>"Code locally, Build and Deploy"</b>.
                  li From the Mission list, select <b>Health Check</b>.
                  li From the Runtime list, select <b>SpringBoot</b> and click the blue arrow to continue.
                  li Authorize your GitHub provider and click the blue arrow to continue.
                  li Review and click <b>Set Up Application</b>. You'll see a confirmation screen when setup is complete.
                .alert.alert-info
                  span.pficon.pficon-info
                  | Complete the procedure above before procedding.
                h3 Use Eclipse Che to view and edit your REST endpoint
                ol.module-list
                  li Open <a href='#'>Eclipse Che</a>. You'll see the REST endpoint you just created.
                  li Make your changes...
                  li Click Create PR to commit your changes.
                .alert.alert-info
                  span.pficon.pficon-info
                  | Complete the procedure above before procedding.
              .integr8ly-module-column--footer
                h4 What's next?
                p You may still view the next module, but this module should be completed first.
                .btn-group.btn-group-justified(role='group', aria-label='module step progress buttons')
                  .btn-group(role='group')
                    a.btn.btn-default(href='module1b.html', role='button')
                      | Next Module
                      i.fa.fa-angle-right(style='padding-left: 5px;')
          .col-sm-9.integr8ly-frame
            .blank-slate-pf
              .blank-slate-pf-icon
                span.fa.fa-columns
              h1 Contextual View Port
              p As you work through the procedures on the left, live UIs will load here so that you can keep the instructions accessible.
    include includes/scripts.pug
