doctype html
html(lang='en')
  include includes/header.pug

  body.integr8ly-container
    include includes/navigation.pug
    ol.breadcrumb(role='navigtion', aria-label='breadcrumbs')
      li
        a(href='index.html').active
          i.pficon.pficon-home.fa-lg
      li
        | Steel Thread 0
    section
      .container-fluid
        .row
          .col-xs-12.col-sm-8
            h1 What will I accomplish?
              .small.text-muted.pull-right
                i.fa.fa-clock-o(style='margin-right: 5px;')
                span 20 minutes
            p In this walkthrough, you will sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            a.btn.btn-primary(href='module1.html', role='button') Restart Module
          .col-sm-4.integr8ly-prerequisites
            h3 Prerequisites
            ul(style='padding-left: 0;').list-unstyled
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span Lorem ipsum dolor
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span Lorem ipsum dolor
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span Lorem ipsum dolor
              li
                i.fa.fa-check-square-o(style='margin-right: 5px;')
                span Lorem ipsum dolor
            h3 Roles
            ul(style='padding-left: 0;').list-unstyled
              li
                i.pficon.pficon-user(style='margin-right: 5px;')
                span Operator
              li
                i.pficon.pficon-user(style='margin-right: 5px;')
                span Developer
            h3 Installed applications used in this tutorial
            p
              span.badge Eclipse Che
              span.badge EnMasse
              span.badge Fuse Online
              span.badge Red Hat OpenShift Application Runtimes
        .row
          .col-xs-12.col-sm-8
            h1 Modules to complete
            .list-group.list-view-pf
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-left
                    | 1.
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | Build your REST endpoint
                        .small.text-success.pull-right
                          i.pficon.pficon-ok(style='margin-right: 5px;')
                          span Complete
                      .list-group-item-text
                        | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-left
                    | 2.
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | Create connections
                        .small.text-success.pull-right
                          i.pficon.pficon-ok(style='margin-right: 5px;')
                          span Complete
                      .list-group-item-text
                        | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-left
                    | 3.
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | Set up messaging
                        .small.text-success.pull-right
                          i.pficon.pficon-ok(style='margin-right: 5px;')
                          span Complete
                      .list-group-item-text
                        | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-left
                    | 4.
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | Build integration
                        .small.text-success.pull-right
                          i.pficon.pficon-ok(style='margin-right: 5px;')
                          span Complete
                      .list-group-item-text
                        | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    include includes/scripts.pug
