doctype html
html(lang='en')
  include includes/header.pug

  body
    include includes/navigation.pug
    ol.breadcrumb(role='navigtion', aria-label='breadcrumbs')
      li
        a(href='index.html').active
          i.pficon.pficon-home.fa-lg
      li
        a(href='steel-thread-0.html') Steel Thread 0
      li
        | Module 1 of 4: Build your REST endpoint
    section
      .container-fluid
        .row
          .col-sm-3.integr8ly-module
            .integr8ly-module-column
              .integr8ly-module-column--status
                h4 Module Completion
                .progress
                  .progress-bar(style='width: 50%;', role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', data-toggle='tooltip', data-placement='right', title='50%')
              .integr8ly-module-column--steps
                h4 Create your REST endpoint using Red Hat OpenShift Application Runtimes
                ol.module-list
                  li To open the application launcher console, lick <b>Launch Your Project</b>.
                  li From the <b>Create application</b> screen, add a name for your REST endpoint application and click <b>Continue</b>.
                  li From the <b>Target Environment</b> screen, select <b>"Code locally, Build and Deploy"</b>.
                  li From the Mission list, select <b>Health Check</b>.
                  li From the Runtime list, select <b>SpringBoot</b> and click the blue arrow to continue.
                  li Authorize your GitHub provider and click the blue arrow to continue.
                  li Review and click <b>Set Up Application</b>. You'll see a confirmation screen when setup is complete.
                h4 Check for success
                //- i.pficon.pficon-info
                  //- span(style='padding-left: 5px;') Complete the procedure above
                i.pficon.pficon-ok
                  span(style='padding-left: 5px;') <b>REST endpoint successfully built!</b> To See your REST endpoint in the context of the thing, <a href='#'>click to visit there</a>.
              .integr8ly-module-column--footer
                h4 What's next?
                //- p You may still view the next procedure, but to complete this module, you must first complete the procedure above.
                //- button.btn.btn-default Next
                //-   i.fa.fa-angle-right(style='padding-left: 5px;')
                p Next, we'll make some changes to the REST endpoint we just created and commit those changes.
                a.btn.btn-primary(href='module1b.html', role='button') Next
                  i.fa.fa-angle-right(style='padding-left: 5px;')
          .col-sm-9.integr8ly-frame
            img(src='img/launcher-start.png', style='height: auto; width: 100%;')
    include includes/scripts.pug
