doctype html
html(lang='en')
  include includes/header.pug

  body.integr8ly-container
    section
      ol.breadcrumb(role='navigtion', aria-label='breadcrumbs')
        li
          a(href='index.html').active
            i.pficon.pficon-home.fa-lg
        li
          | Build a REST-based integration
        li.applauncher-pf.dropdown.pull-right
          button.btn.btn-link.dropdown-toggle.nav-item-iconic(data-toggle='dropdown' href='#')
            span.fa.fa-th.applauncher-pf-icon(aria-hidden='true')
            span.dropdown-title
              span.applauncher-pf-title
                | Application Launcher
                span.caret(aria-hidden='true')
          ul.dropdown-menu(role='menu')
            li.applauncher-pf-item(role='presentation')
              a.applauncher-pf-link(href='#' role='menuitem')
                span.applauncher-pf-link-title
                | Eclipse Che
            li.applauncher-pf-item(role='presentation')
              a.applauncher-pf-link(href='#' role='menuitem')
                span.applauncher-pf-link-title
                | EnMasse
            li.applauncher-pf-item(role='presentation')
              a.applauncher-pf-link(href='#' role='menuitem')
                span.applauncher-pf-link-title
                | Fuse Online
            li.applauncher-pf-item(role='presentation')
              a.applauncher-pf-link(href='#' role='menuitem')
                span.applauncher-pf-link-title
                | Red Hat OpenShift Application Runtimes
      .container-fluid
        .row
          .col-xs-12.col-sm-8
            h1 What will I accomplish?
            p In this tutorial, you will build a simple REST-based integration that enables a new fruit type to be added to an inventory list for a fictional grocery store.
            a.btn.btn-primary(href='module1.html', role='button') Get Started
          .col-sm-4.integr8ly-prerequisites
            h3 Prerequisites
            ul(style='padding-left: 20px;')
              li GitHub account
              li OpenShift Online account
              li Existing code to import
              li Something to prove
            h3 Roles
            ul(style='padding-left: 0;').list-unstyled
              li
                i.pficon.pficon-user(style='margin-right: 5px;')
                span Operator
              li
                i.pficon.pficon-user(style='margin-right: 5px;')
                span Developer
            h3 Installed applications used in this tutorial
            p
              span.badge Red Hat OpenShift Application Runtimes
              span.badge Eclipse Che
              span.badge Fuse Ignite
              span.badge EnMasse
        .row
          .col-xs-12.col-sm-8
            h1 Modules to complete
              .pull-right
                i.fa.fa-clock-o(style='margin-right: 5px;')
                span 20 minutes
            .list-group.list-view-pf
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 1. Build your REST endpoint
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 6 minutes
                      .list-group-item-text
                        | Create an HTTP endpoint that will receive requests from a Fuse Ignite integration and add new fruits types to the inventory. You will also customise the endpoint using Eclipse Che.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 2. Create connections
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 4 minutes
                      .list-group-item-text
                        | Set up connections between your HTTP endpoint and your Enmasse messaging queue in Fuse Ignite.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 3. Set up messaging
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 5 minutes
                      .list-group-item-text
                        | Provision the EnMasse messaging service.
              .list-group-item.list-view-pf-stacked
                .list-view-pf-main-info
                  .list-view-pf-body
                    .list-view-pf-description.list-view-pf-integreatly-description
                      .list-group-item-heading
                        | 4. Build integration
                        .small.pull-right
                          i.fa.fa-clock-o(style='margin-right: 5px;')
                          span 5 minutes
                      .list-group-item-text
                        | Invoke the integration to add a new fruit type to the inventory list.
    include includes/scripts.pug
